@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,800;1,800&display=swap');

html {
  scroll-behavior: smooth;
  background-color: var(--lightDark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

:root {
  --lightGray: #AAAA91;
  --mediumGray: #848478;
  --darkGray: #5E5E5E;
  --lightDark: #383845;
  --dark: #12122B;
}

/* Products */
.productsTableSection{
  padding: 20px;
}